* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* header*/

header {
    background-color: bisque;
    justify-content: space-between;
    height: 100px;
    display: flex;
}

.logo {
    display: flex;

}

.logo-png {
    width: 100px;
    padding-top: 16px;
    height: 100px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.title-logo {
    padding-top: 33px;
}

nav ul {
    display: flex;
    gap: 40px;
    padding-top: 50px;
    padding-right: 20px;

}

nav ul li {

    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

/* product */
#hero {
    display: flex;
    background-color: cornsilk;
    margin: 0;
    justify-content: space-between;
    height: 1000px;
}


.bs {
    padding: 30px;
}

.pp1:hover {
    transform: scale(0.95);
}



.p1 {
    display: flex;


}

.pp1 {
    width: 150px;
    background-color: rgb(255, 211, 196);
    border-radius: 50px;
    border: 1px solid rgb(255, 180, 196);
    cursor: pointer;
}

.ppp1 {
    padding-top: 100px;
    font-size: x-large;
    padding-left: 50px;
}

.p2 {
    display: flex;

    padding-top: 50px;
}

.pp2:hover {
    transform: scale(0.95);
}


.pp2 {
    width: 150px;
    background-color: rgb(255, 211, 196);
    border-radius: 50px;
    border: 1px solid rgb(255, 180, 196);
    cursor: pointer;
}

.ppp2 {
    padding-top: 100px;
    font-size: x-large;
    padding-left: 50px;
}

.p3 {
    display: flex;

    padding-top: 50px;

}

.pp3:hover {
    transform: scale(0.95);
}


.pp3 {
    width: 150px;
    background-color: rgb(255, 211, 196);
    border-radius: 50px;
    border: 1px solid rgb(255, 180, 196);
    cursor: pointer;
}

.ppp3 {
    padding-top: 100px;
    font-size: x-large;
    padding-left: 50px;
}


/* hero image */
.hero-img {
    display: block;
    place-self: center;

    text-align: center;
}

.slogan {
    padding-top: 30px;
}


.pict1 {
    border-radius: 80px;
    width: 800px;
    padding: 50px;

}

.btn-primary {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;

    padding: 10px 20px;
    border-radius: 20px;
}

.order:hover {
    transform: scale(0.95);
}

.order {

    width: 200px;
    place-self: center;
}



/* testimonials */

#testimonial {
    background-color: rgb(245, 244, 244);

    height: 300px;
    text-align: center;
    justify-content: space-around;
}

#testimonial h3 {
    padding-top: 30px;
}

.cika- {
    width: 80px;

}

.ryan- {
    width: 100px;

}

.testimonials {
    display: flex;
    justify-content: space-around;
}

/* contact */

#contacts {
    text-align: center;
    place-self: center;
}

.contact {
    padding: 10px;
}

form h3 {
    border: 1px solid black;

}

form textarea {
    display: block;
    width: 500px;
    height: 100px;

}

form button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 5px;
    cursor: pointer;

}

.submit {
    border: 1px solid black;
    text-align: end;

}

/* footer */

#footer {
    background-color: rgb(54, 54, 54);
    text-align: center;
}

.footers {
    place-self: center;
}

.tiktok {
    max-width: 40px;
    width: 100%;
}

.insta {
    max-width: 40px;
    width: 100%;
}

.footers p {
    color: rgb(147, 146, 146);
}

@media screen and (max-width: 1300px) {
    #hero {
        flex-direction: column-reverse;
        height: 1700px;
    }
    
.hero-img {
        border: 1px solid black;
        padding: 400px 300px 100px 300px;
    }

}

@media screen and (max-width:960px) {
    body {
        font-size: 0.7rem;
    }


}

@media screen and (max-width:8000px) {
    .p1 {
        margin-left: 350px;
    }

    .p3 {
        margin-left: 350px;
    }

}


@media screen and (max-width: 2240px) {
    .p1 {
        margin-left: 250px;
    }

    .p3 {
        margin-left: 250px;
    }

}

@media screen and (max-width:1440px) {
    .img-hero .pict1 {
        width: 670px;
    }

    .p1 {
        margin-left: 1px;
    }

    .p3 {
        margin-left: 1px;
    }

}
